#Archivos a ignorar de segunda actividad
# Archivos a ignorar de segunda actividad
src/main/java/com/mycompany/exercisesprogram/SegundaSemana/PosNegZero/
src/main/java/com/mycompany/exercisesprogram/SegundaSemana/enteros/
